[submodule "ctcgfw"]
	path = ctcgfw
	url = https://github.com/project-openwrt/openwrt.git
[submodule "feeds/ctcgfw/packages"]
	path = feeds/ctcgfw/packages
	url = https://github.com/project-openwrt/packages
[submodule "feeds/ctcgfw/luci"]
	path = feeds/ctcgfw/luci
	url = https://github.com/project-openwrt/luci
[submodule "openwrt"]
	path = openwrt
	url = https://github.com/openwrt/openwrt.git
[submodule "feeds/openwrt/packages"]
	path = feeds/openwrt/packages
	url = https://github.com/openwrt/packages.git
[submodule "feeds/openwrt/luci"]
	path = feeds/openwrt/luci
	url = https://github.com/openwrt/luci.git
[submodule "feeds/openwrt/routing"]
	path = feeds/openwrt/routing
	url = https://git.openwrt.org/feed/routing.git
[submodule "feeds/openwrt/telephony"]
	path = feeds/openwrt/telephony
	url = https://github.com/openwrt/telephony.git
[submodule "feeds/openwrt/rclone"]
	path = feeds/openwrt/rclone
	url = https://github.com/ElonH/Rclone-OpenWrt.git
[submodule "lede"]
	path = lede
	url = https://github.com/coolsnowwolf/lede.git
[submodule "feeds/lede/packages"]
	path = feeds/lede/packages
	url = https://github.com/coolsnowwolf/packages
[submodule "feeds/lede/luci"]
	path = feeds/lede/luci
	url = https://github.com/coolsnowwolf/luci
