[submodule "ctcgfw"]
	path = ctcgfw
	url = https://github.com/project-openwrt/openwrt.git
	branch = openwrt-18.06
[submodule "feeds/ctcgfw/packages"]
	path = feeds/ctcgfw/packages
	url = https://github.com/project-openwrt/packages
	branch = openwrt-18.06
[submodule "feeds/ctcgfw/luci"]
	path = feeds/ctcgfw/luci
	url = https://github.com/project-openwrt/luci.git
	branch = openwrt-18.06
[submodule "latest"]
	path = latest
	url = https://github.com/project-openwrt/openwrt.git
	branch = master
[submodule "feeds/latest/packages"]
	path = feeds/latest/packages
	url = https://github.com/project-openwrt/packages.git
	branch = master
[submodule "feeds/latest/luci"]
	path = feeds/latest/luci
	url = https://github.com/project-openwrt/luci.git
	branch = master
[submodule "feeds/ctcgfw/routing"]
	path = feeds/ctcgfw/routing
	url = https://github.com/project-openwrt/routing.git
	branch = master
[submodule "feeds/openwrt/telephony"]
	path = feeds/openwrt/telephony
	url = https://github.com/openwrt/telephony.git
	branch = master
