[submodule "ctcgfw"]
	path = ctcgfw
	url = https://github.com/project-openwrt/openwrt.git
[submodule "feeds/ctcgfw/packages"]
	path = feeds/ctcgfw/packages
	url = https://github.com/project-openwrt/packages
[submodule "feeds/ctcgfw/luci"]
	path = feeds/ctcgfw/luci
	url = https://github.com/project-openwrt/luci
[submodule "openwrt"]
	path = openwrt
	url = https://github.com/openwrt/openwrt.git
[submodule "feeds/openwrt/packages"]
	path = feeds/openwrt/packages
	url = https://github.com/openwrt/packages.git
[submodule "feeds/openwrt/luci"]
	path = feeds/openwrt/luci
	url = https://github.com/openwrt/luci.git
[submodule "feeds/openwrt/routing"]
	path = feeds/openwrt/routing
	url = https://github.com/openwrt-routing/packages.git
[submodule "feeds/openwrt/telephony"]
	path = feeds/openwrt/telephony
	url = https://github.com/openwrt/telephony.git
[submodule "feeds/openwrt/rclone"]
	path = feeds/openwrt/rclone
	url = https://github.com/ElonH/Rclone-OpenWrt.git
[submodule "latest"]
	path = latest
	url = https://github.com/project-openwrt/openwrt-latest.git
[submodule "feeds/latest/packages"]
	path = feeds/latest/packages
	url = https://github.com/project-openwrt/packages-latest.git
[submodule "feeds/latest/luci"]
	path = feeds/latest/luci
	url = https://github.com/project-openwrt/luci-latest.git
[submodule "ctcgfw-19.07"]
	path = ctcgfw-19.07
	url = https://github.com/project-openwrt/openwrt-19.07.git
[submodule "feeds/ctcgfw-19.07/packages"]
	path = feeds/ctcgfw-19.07/packages
	url = https://github.com/project-openwrt/packages-19.07.git
[submodule "feeds/ctcgfw-19.07/luci"]
	path = feeds/ctcgfw-19.07/luci
	url = https://github.com/project-openwrt/luci-19.07.git
[submodule "feeds/ctcgfw-19.07/routing"]
	path = feeds/ctcgfw-19.07/routing
	url = https://git.openwrt.org/feed/routing.git
	branch = openwrt-19.07
[submodule "feeds/ctcgfw-19.07/telephony"]
	path = feeds/ctcgfw-19.07/telephony
	url = https://git.openwrt.org/feed/telephony.git
	branch = openwrt-19.07
