*sdk*
SDK*
*ib*/
*imagebuilder*
*.zip
*.tar
*.yml
!.github/*/*.yml
*.sign
IB*
*-Firmware/
*-Packages/
scripts/apt
.cache
src/**/__pycache__
__pycache__
src/worker/build
!src/worker/libs
tests/
.ipynb_checkpoints
未命名*.ipynb
graph.json
workers.json
!src/patcher/*.patch
